
body {
    margin: 0;
    padding: 0;
  
    font-size: 14px;
    line-height: 17px;
    font-family: Verdana, sans-serif;
    color: #000000;
  
    background-color: #ffffff;
}


header {
    color: #ffffff;
    background-color: #222222;
    height: 699px;
    padding-top: 54px;
    padding-bottom: 121px;
}

header .container {
    min-height: 438px;
    padding-top: 50px;
    padding-bottom: 180px;
  
    background-image: url("../img/moon-rocket 1.png");
    background-repeat: no-repeat;
    background-position: 520px 130px;
}

.main-nav {
    display: flex;
    margin-bottom: 38px;

}

.site-menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 31px;
    padding: 0;
  
    list-style: none;
}

.site-menu a {
    display: block;
    margin-right: 30px;

    font-size: 14px;
    text-decoration: none;
    color: #d4d4d4;
}


.contacts-menu {
    display: flex;
    flex-wrap: wrap;
    max-width: 119px;
    margin: 0;
    margin-top: 31px;
    padding: 0;
    margin-left: 518px;

    list-style: none;
}

.contacts-menu li {
    margin-left: 30px;
}
  
.contacts-menu .icon {
    display: block;
    width: 17px;
    height: 17px;
}
  
.contacts-menu .icon-mail {
    background-image: url("../img/mail-icon 1.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
}
  
.contacts-menu .icon-phone {
    background-image: url("../img/phone-icon 1.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.container {
    width: 1280px;
    margin: 0;
    margin-left: 160px;
    padding: 0;
}

.logo {
    width: 62px;
    height: 62px;
    margin-right: 62px;
}

.about-us {
    width: 300px;
    padding-left: 120px;
  }
  
.about-us h1 {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
  
    font-size: 45px;
    line-height: 50px;
    font-family: "Courier New", monospace;
    color: white;
}
  
.about-us p {
    margin: 0;
    margin-bottom: 50px;
    padding-left: 5px;
  
    font-size: 14px;
    line-height: 22px;
    color: #d4d4d4;
}

.btn {
    position: relative;
  
    display: inline-block;
    width: 195px;
    padding: 0 25px;
  
    font-weight: bold;
    font-size: 14px;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    color: #222222;
  
    border: none;
    border-radius: 50px;
}

.btn-yellow {
    background-color: #feca30;
}
  

.features {
    background-color: #131313;
    color: #FFFFFF;
    padding: 85px 0;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-list li {
    position: relative;

    width: 170px;
    font-size: 14px;
    line-height: 20px;
    color: #d4d4d4;
}


.features-list li img {
    margin-bottom: 34px;
}

.columns-container {
    display: flex;
    margin-left: 160px;
}

.columns-container .left-column {
    width: 440px;
    margin-right: 80px;
}

.columns-container .right-column {
    width: 454px;
}

.moon-vacation {
    padding-top: 80px;
    padding-bottom: 45px;
  }
  
.moon-vacation .lead {
    margin-top: 0;
    margin-bottom: 50px;
  
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    font-family: "Courier New", monospace;
}

.recommendations h3 {
    margin-top: 0;
    margin-bottom: 35px;
    
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    font-family: "Courier New", monospace;
}
  
.recommendations-list {
    margin: 0;
    padding: 0;
    padding-left: 30px;
    margin-bottom: 100px;
}
  
.recommendations-list li {
    position: relative;
  
    margin-bottom: 20px;
}

.recommendations-list li::marker {
    color: #ffcb06;
}

footer {
    padding-top: 60px;
    padding-bottom: 84px;
    background-color: #131313;
    height: 300px;
}

.footer-columns-container {
    display: flex;

}

.footer-columns-container .left-column {
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-right: 100px;
}
  
.footer-columns-container .right-column {
    width: 720px;
    padding-top: 35px;
}
  
.footer-menu {
    display: flex;
    margin: 0;
    padding: 0;
    height: 254px;
    list-style: none;
}

.footer-menu li {
    width: 180px;
    margin-right: 60px;
}

.footer-submenu-title {
    text-transform: uppercase;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
}

.footer-submenu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 12px;
    font-family: 'Verdana';
}

.footer-submenu li:first-child {
    border-top: 1px solid #555555;
    padding-top: 58px;
}

.footer-submenu li {
    margin-bottom: 20px;
}

.footer-submenu a {
    text-decoration: none;
    color: #888888;
}

.copyrights {
    margin-top: 80px;
    color: #555555;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 0;
}
  
.logo-container .logo {
    margin-left: 0;
    margin-right: 20px;
}

.company-title {
    color: #d4d4d4;
}


